html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

/* nav styles */

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #ff9776;
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #ff9776;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #ff9776;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}

html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}body {
  background-color: rgb(3, 44, 63);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  text-align: center;

}

.container {

  width: 65%;
  background-color: rgb(17, 17, 17);
  padding: 30px;
  border-radius: 30px;
color: rgb(224, 224, 224);
}
header{
  height: 60px;
  width: 100%;
  position: absolute;
  top: 0;
z-index: 2;
}

#hasil-akhir2 {
font-family: Arial, Helvetica, sans-serif;
border-collapse: collapse;
width: 100%;
}

#hasil-akhir2 td, #hasil-akhir2 th {
border: 1px solid #053250;
padding: 8px;
}

#hasil-akhir2 tr:nth-child(even){background-color: #464646;}

#hasil-akhir2 tr:hover {background-color: #313131;}

#hasil-akhir2 th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #0f4470;
color: white;
}

#logo{
position: absolute;
margin: 10px;
background: black;
border-radius: 20px;
left: 5%;
line-height: 60px;
  display: inline-block;
cursor: pointer;
font-size: 30px;
font-weight: bold;
color: #00a7ff; /* blue */
}
#logo:hover{
  color: #eef9ff; /* white */
}
#logo-s{
color: #eef9ff; /* white */
margin-left: 5px;
}
#logo:hover #logo-s{
color: #00a7ff; /* blue */
}

.slider{
position: relative;
width: 100%;
background: #2c3e50; /* darckblue */
}

.prev, .next{
position: relative;
top: 50%;
transform: translate(0, -50%);
font-size: 50px;
padding: 15px;
cursor: pointer;
color: #fff;
transition: 0.1s;
user-select: none;
}
.prev:hover, .next:hover{
color: #00a7ff; /* blue */
}
.next{
right: 0;
}

.css-hasil-akhir {
padding: 50px;
}


@media(max-width:400px) {

body {
  background-color: rgb(3, 44, 63);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  text-align: center;

}

#logo{
  left: 25%;
  line-height: 60px;
  display: inline-block;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  color: #00a7ff; /* blue */
}

.container {
  position: absolute;
  bottom: 2%;
  left: 0%;
  right: 0%;
  width: 79%;
  background-color: rgb(17, 17, 17);
  padding: 30px;
  border-radius: 30px;
  color: rgb(224, 224, 224);
}

header{
  height: 60px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
}
}